<footer>
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap justify-between py-4">
        <div class="w-full md:w-1/3 text-center md:text-left">
          <p class="text-white-500 bg-blend-luminosity ">© 2024 Cde57</p>
        </div>
        <div class="w-full md:w-1/3 text-center">
          <a href="#" class="bg-blend-luminosity text-gray-500 hover:text-white-900">Política de privacidad</a>
        </div>
        <div class="w-full md:w-1/3 text-center md:text-right">
          <a href="#" class= bg-blend-luminosity bg-blend-luminosity text-gray-500 hover:text-white-800">Términos y condiciones</a>
        </div>
      </div>
    </div>
  </footer>