<section class="w-full max-w-[1400px]
    mx-auto grip grid-cols-10 auto-row-[30rem] gap-4
    mx-auto p-20 border-2;
    border: 2px solid black;">
    <h3 class=" text-pretty uppercase  text--4xl traking-wide text-center font-semibold mb-10">Guia de la tecero edicion de los premios esland</h3>
    <lite-youtube
      class="shadow-2xl shadow-black/10"
      videoid="nYPVr2IYTtk"
      videotitle="Guia de la tecero edicion de los premios esland">
    </lite-youtube>
  </section>
  <script>
    import '@justinribeiro/lite-youtube';
  </script>
  