<div class="w-full relative">
    <img
        class="absolute top-10 z-10 w-[800px]  left-0 right-0 m-auto "
        alt="ESLAND - Premios a la Comunidad del Streaming"
        src="/logo-home.svg"
    />    
<video 
    class="w-full h-auto object-cover object-top"
    src="/video.mp4" 
    autoplay 
    loop 
    muted 
    style="clip-path: polygon(0 0, 100% 0, 100% 78%, 50% 100%, 0 77%) ;"
   ></video>
   <video   
    class="absolute -bottom-48 blur-3xl -z-40" 
    src="/video.mp4" 
    autoplay 
    loop 
    muted ></video>
</div>
